[submodule ".registry"]
	path = .registry
	url = https://github.com/futureverse/futureverse.r-universe.dev
	branch = HEAD
[submodule "future.tools"]
	path = future.tools
	url = https://github.com/futureverse/future.tools
	branch = main
[submodule "futureverse"]
	path = futureverse
	url = https://github.com/futureverse/futureverse
	branch = main
[submodule "marshal"]
	path = marshal
	url = https://github.com/futureverse/marhal
	branch = main
