[submodule ".registry"]
	path = .registry
	url = https://github.com/futureverse/futureverse.r-universe.dev
	branch = HEAD
[submodule "futureverse"]
	path = futureverse
	url = https://github.com/futureverse/futureverse
	branch = main
