[submodule ".registry"]
	path = .registry
	url = https://github.com/futureverse/futureverse.r-universe.dev
	branch = HEAD
[submodule "future"]
	path = future
	url = https://github.com/futureverse/future
	branch = rc4
[submodule "future.tools"]
	path = future.tools
	url = https://github.com/futureverse/future.tools
	branch = main
[submodule "marshal"]
	path = marshal
	url = https://github.com/futureverse/marshal
	branch = main
